@import "tailwindcss";

.rubik-regular {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rubik-bold {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.rubik-bolder {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-custom-grey {
    color: hsl(0, 0%, 58%);
}

html, body {
    height: 100%;
}

#searchButton:hover {
    background-color: hsl(0, 0%, 17%);
}